@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.containerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    height: 5vh;
    max-width: 70vw;
    padding: 0.8rem;
    border-radius: 1rem;
    justify-content: space-between;
    background-color: rgb(252, 215, 221);
    font-family: "Open Sans", sans-serif;
    font-size: .9rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                -4px -4px 10px rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 15px; /* Separa las tarjetas entre sí */
}

/* Efecto de elevación al pasar el mouse */
.containerCard:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25), 
                -6px -6px 12px rgba(255, 255, 255, 0.8);
}

/* Contenedor de los títulos alineados correctamente */
.titulos {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex: 1;
    gap: 0.3rem;
}

.titulos h3 {
    font-weight: bold;
    font-size: 1rem;
}

/* Ajustes en los botones */
.actionCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.buttonEliminar button {
    background-color: rgb(251, 117, 213);
    border-radius: .7rem;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    transition: background-color 0.3s ease-in-out;
}

.buttonEliminar button:hover {
    background-color: rgb(255, 0, 204);
}

/* Botones de editar y ver */
.buttonEditar button,
.buttonVer button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.buttonEditar button:hover,
.buttonVer button:hover {
    color: white;
}
/*select sprint*/
.selectsprint  {
    width: 80%;
    padding: .3rem;
    resize: none;
    margin: .4rem 0;
    border: 2px solid #a200ff; /* Borde celeste */
    border-radius: 10px; /* Bordes redondeados */
    outline: none; /* Quita el borde azul por defecto en los inputs */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}
.buttonenviarasprint button {
    background-color: rgb(251, 117, 213);
    border-radius: .7rem;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    transition: background-color 0.3s ease-in-out;
    align-items: center;

     
    display: flex;               /* Para alinear texto e ícono */
    align-items: center;        /* Centrar verticalmente */
    justify-content: center;    /* Centrar horizontalmente */
    gap: 0.4rem;                /* Espacio entre texto e ícono */
}

.buttonenviarasprint button:hover {
    background-color: rgb(255, 0, 204);
}
.buttonenviarasprint{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}