@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.containerPrincipalModal{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(90%) blur(2px);
}
.contendPopUp{
    background-color: #fff;
    box-shadow: 5px 2px 10px #7e7e7e;
    width: 35vws;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-radius: .4rem;
}
.formContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.formContent input, 
.formContent textarea, 
.formContent select {
    width: 100%;
    padding: .3rem;
    resize: none;
    margin: .4rem 0;
    border: 2px solid #00BFFF; /* Borde celeste */
    border-radius: 10px; /* Bordes redondeados */
    outline: none; /* Quita el borde azul por defecto en los inputs */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

/* Efecto cuando el usuario hace clic en el input */
.formContent input:focus, 
.formContent textarea:focus, 
.formContent select:focus {
    border-color: #1E90FF; /* Azul más fuerte al enfocar */
    box-shadow: 0 0 8px rgba(30, 144, 255, 0.6); /* Brillo azul al hacer focus */
}


.buttonCard{
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.button1{
    background-color: pink; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 12px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}
.button1:hover {
    background-color: hotpink; /* Cambia el color */
    cursor:pointer; /* Cambia el cursor */
    transform: scale(1.05); /* Hace que el botón crezca un poco */
}
.button2{
    background-color: rgb(194, 83, 194);
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 12px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

.button2:hover {
    background-color: #8623cd;
    cursor:pointer; /* Cambia el cursor */
    transform: scale(1.05); /* Hace que el botón crezca un poco */
}