.containerPrincipalListTareas {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos al centro horizontalmente */
    justify-content: flex-start; /* Alinea los elementos desde la parte superior */
    height: 100vh;
    gap: 1rem;
    width: 70vw;
    background: rgb(255, 255, 255);
    padding: 2rem; /* Asegura que haya espacio alrededor de los elementos */
}

.containerTitleAndButton {
    display: flex;
    justify-content: space-between; /* Espacio entre el título y el botón */
    gap: 1rem;
    width: 100%; /* Se asegura de que ocupe todo el ancho */
    align-items: center;
    position: relative; /* Esto es importante para que el contenedor se mantenga arriba */
    margin-bottom: 1rem; /* Espacio debajo para separar de la lista de tareas */
}

.containerTitleAndButton button {
    margin: .4rem;
    border-radius: 10rem;
    background-color: #c3e9fa;
    border-color: #74d4fd;
    height: 35px;
}

.containerTitleAndButton button:hover {
    cursor: pointer;
    background-color: rgb(168, 95, 251); /* Color más oscuro al pasar el mouse */
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out; /* Efecto de transición suave */
    border-color: rgb(160, 135, 251);
}

.containerListTareas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(194, 208, 255, 0.386);
    width: 100%; /* Se asegura de que ocupe todo el ancho */
    min-height: 60vh;
    max-width: 68vh;
    overflow-y: auto;
    border-radius: 0.6rem;
    flex-grow: 1; /* Hace que la lista de tareas ocupe el espacio disponible restante */
}
